* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main {
  width: 91.46%;
  margin: 10.83% 1.97% 29.31% 1.97%;
  padding: 48px 24px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 24px 24px 100px 24px;
  background-color: #fff;
  height: 100%;
  margin-bottom: 238px;
}

.container {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

.form__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
}

.small {
  color: #ff5959;
  font-size: 8px;
  position: absolute;
  bottom: -16%;
  left: 2%;
}

.form__item input {
  width: 100%;
  padding: 12px 12.67px 12px 16px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}

.input__year {
  padding-right: 12px;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s linear;
}

.btn:hover {
  filter: drop-shadow(0 0 0.75rem rgb(133, 77, 255));
}

.arrow__box {
  display: flex;
  align-items: center;
  position: relative;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #dcdcdc;
  height: 1px;
  border: none;
}

.form__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

label {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 25%;
  text-transform: uppercase;
  color: #716f6f;
}

.output {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 56px;
  font-weight: 800;
  font-style: italic;
  margin-top: 32px;
}

.output__culc {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.culc__number {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #854dff;
}

.culc__text {
  width: 75%;
  justify-content: flex-start;
}

.error__lable {
  color: #ff5959;
}

.none {
  display: none;
}

@media screen and (width > 375px) {
  .main {
    width: 65.12%;
    margin-top: 17.81%;
    padding-top: 8.23%;
    border-radius: 24px 24px 200px 24px;
    margin-top: 40px;
    gap: 0;
    padding-top: 56px;
  }

  .form__item input {
    padding: 12px 60px 12px 24px;
    font-size: 24px;
  }

  .output {
    font-size: 80px;
    font-weight: 800;
    font-style: italic;
    margin-top: 32px;
  }

  .output__culc {
    width: 70%;
  }

  .form__content {
    display: grid;
    grid-template-columns: repeat(3, 160px);
    align-content: start;
  }

  form {
    gap: 32px;
  }

  .btn {
    top: 50%;
    left: 96%;
    transform: translate(-50%, -50%);
  }

  .arrow__box {
    display: flex;
    align-items: center;
  }

  .arrow__box hr {
    width: 100%;
  }
}
